:root {
    --background: #31343d;
    --fontWhite: white;
}

body {
    background: var(--background);
}

/* Flex Box Styling */
.centreFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Menu Styling */
h1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--fontWhite);    
}

#userLocQuery {
    background: white;
    padding: 10px 10px; /* X-axis Y-axis */
    margin: 20px; 

    text-align: center;
        
    
    line-height: 20px;
    font-size: 40px;
}

#searchBtn {
    padding: 10px 40px;
}

i {
    color: white;
}

/* Arrow Animation */
#leftArrow {
    animation: focusLeft 1s infinite;
    animation-direction: alternate;
}

#rightArrow {
    animation: focusRight 1s infinite;
    animation-direction: alternate;
}

@keyframes focusLeft {
    from {
        margin-right: 0px;
    }
    to {
        margin-right: 10px;
    }
}

@keyframes focusRight {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 10px;
    }
}